#!/bin/sh
# Original Author: John Paul Bader <john-paul.bader@wooga.net>
# With adjustments by: [ Johannes Huning <johannes.huning@wooga.net>,
#                        Mariano Valles <mariano.valles@wooga.net> ]

START_CMD="$2 start"
APP_NAME=$2
PROJECT_ROOT=`pwd`
PIDS_DIR="tmp/pids"
NODE_NAME=`basename $PROJECT_ROOT`
LONGNODE_NAME=$APP_NAMEAPP_NAME@`hostname`
COOKIE="9b90be59d23b70086c6075db2a562feea1c96345"


# Attempt to extract the pid from ps
get_pid() {
  case `uname -s` in
    Linux|Darwin|FreeBSD|DragonFly|NetBSD|OpenBSD)
    # PID COMMAND
    PID=`ps axwww -o pid= -o command= |grep "$PROJECT_ROOT" |grep "beam" |awk '{print $1}'`
    ;;
  esac
}

# Write the pid to the Pids directory
write_pid() {
    if [ ! -d "$PIDS_DIR" ]; then
        mkdir -p $PIDS_DIR
    fi
    echo $PID > "$PIDS_DIR/$APP_NAME.pid"
}

get_pid

# Set environment to `development` if not already set.
if [ "$ERL_ENV" = "" ]; then
    ERL_ENV="development"
fi

# Let the first argument be the action to execute.
case "$1" in
    start)
        if [ "$PID" = "" ]; then
            erl -detached -pa $PROJECT_ROOT/deps/*/ebin $PROJECT_ROOT/ebin \
                -setcookie $COOKIE -name $LONGNODE_NAME -s $START_CMD
            get_pid
            write_pid
        else
            echo "VM is already running"
        fi
        ;;
    console)
        if [ "$PID" = "" ]; then
            erl -pa $PROJECT_ROOT/deps/*/ebin $PROJECT_ROOT/ebin \
                -setcookie $COOKIE -name $LONGNODE_NAME -s $START_CMD
        else
            echo "VM is already running"
        fi
        ;;
    attach)
        if [ "$PID" != "" ]; then
            erl -name attached_$NODE_NAME@`hostname` -setcookie $COOKIE \
                -remsh $LONGNODE_NAME
        else
            echo "VM is not running"
        fi
        ;;
    stop)
        if [ "$PID" = "" ]; then
            echo "VM is not running"
        fi

        while `kill -3 $PID 2>/dev/null`; do
            echo "Stopping VM"
            sleep 1
        done
        ;;
    esac
exit 0
